body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #e7e7e7;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  /* border-radius: 4px; */
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1  {
  color: #4682b4; /* change color for headers */
  font-size: 100%;
}


h2 {
  color: #b22222;/* change color for headers */
  font-size: 70%;
}

h4,
h5,
h6 {
  color: #00CED1; /* change color for headers */
}


/* toc part */
article-toc {
  display: none;
  position: fixed;
  left: 50%;
  top: 110px;
  font-size: 0.9em;
  width: 260px;
  margin-left: 400px;
  padding-left: 20px;
  overflow-y: auto;
  line-height: 1.4em;
  max-height: 85%;
}
.article-toc h3 {
  font-weight: bold;
  margin-left: 20px;
}
.article-toc li {
  list-style: none;
  margin-left: 20px;
  margin-top: 2px;
}
.article-toc li a {
  color: #000;
  text-decoration: none;
}
.article-toc li a.active {
  font-weight: bold;
}
@media screen and (min-width: 1400px) {
  .article-toc {
    display: block;
  }
}
