body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* background-color: #e7e7e7; */
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  border-style: none;
  /* border-radius: 4px; */
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1  {
  color: black; /* change color for headers */
  font-style: bold;
  font-size: 100%;
}


h2 {
  color: gray;/* change color for headers */
  font-style: italic;
  font-size: 100%;
}

h4,
h5,
h6 {
  color: #00CED1; /* change color for headers */
}

/* Contents sidebar */
#sidebar-wrapper {
    max-width: 250px;
}

#sidebar {
    position: fixed;
    top: 130px;
    right: 80px;
}

.nav-stacked>li>a {
    padding: 5px;
    color:gray;
    border:gray;
    text-align: left;
}

