body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Open Sans; /*added*/
  background-color: #ecf0f7;
  /*color: #B0B0B0;*/
}

p {text-align: left;
   /* line-height: 100%;*/
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: lightgray; /*#eeeeee;*/
  border-style: none;
  }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: .0px solid #ccc; /* border for code snippets  */
  border-radius: 5px;  
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: 100%;
}

h1  {
  #color: #B0B0B0; /*black;*/
  font-style: bold;
  font-size: 100%;
  margin: 25px 0 0px;
  text-transform: uppercase;
}

h2 {
  #color: #B0B0B0; /*black;*/
  font-style: bold;
  font-size: 100%;
  /*margin-bottom:-20px;*/
}

h3 {
  #color: #B0B0B0; /*black;*/
  font-style: italic;
  font-size: 100%;
  line-height: 100%; 
  margin-bottom:-10px;
}

h4,
h5,
h6 {
  color: #00CED1; /* change color for headers */
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0 auto
}


/* Contents sidebar */

#sidebar-wrapper {
    max-width: 240px;
}

#sidebar {
    position: fixed; 
    top: 140px;
}

@media screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }
}


#sidebar > ul {
  	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
        border-left: 1px solid black;
}

.nav-stacked>li>a {
    list-style-type:none;
    text-decoration:none;
    margin: 0px;
    /*color: #B0B0B0; */
    color: black;
    text-align:left;
}


.toc-h1 {
	font-size: 100%;
	/*font-color:orange;*/
	text-decoration:none;
	padding: 20px 0px 0px 1px;	
}

.toc-h2 {
  font-size: 90%;
  /*padding-left: 10px;*/
  padding: 5px 0px 0px 0px;
}

.toc-h3 {
  font-size: 90%;
  padding-left: 20px;
}


/*define appearance of links*/

a.icon:hover {
    text-decoration: none;
}

a:link {
    text-decoration:none;
    color:black
}

section a:hover:not(toc-h1):not(toc-h2):not(toc-h3) {
    /*color: var(--accent) !important;*/
    color: white;
    background-color: #475D81; /*#29AB87;*/
    font-style: bold;

}


.toc-h1:hover {
    color: var(--accent) !important;
    background-color: lightgray;
    font-style: bold;
}
.toc-h2:hover {
    color: var(--accent) !important;
    background-color: lightgray;
    font-style: bold;
}
.toc-h3:hover {
    color: var(--accent) !important;
    background-color: lightgray;
    font-style: bold;
}

/* hide toc when printing */

@media print {
      #sidebar {
            display:none;
  }
}



scrollable-element {
  scrollbar-color: red yellow;
}

summary {
	color: firebrick;
	font-size: 100%;
}


details{
	font-size: 100%;
        line-height: 100%;
        border-left: 1px dotted firebrick;
        font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}


/* mobile version */
@media only screen and (max-width: 560px) {

	#trail  {
		/*color: red; doesn't work because color defined in single */
		font-size: 60%;
		}

	p {text-align: left;
	   font-size: 90%;
	   /* line-height: 100%;*/
          }


  }




